

<!--Main layout-->
<main xmlns:text-align="http://www.w3.org/1999/xhtml">
  <div class="container-fluid" >

    <!--Section: Main panel-->

    <section class="mb-5" class="card card-cascade narrower mb-5">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg">

          <!--Panel Header-->
          <div class="view view-cascade py-3 gradient-card-header info-color-dark">
            <h5 class="mb-0"> Queue Performance </h5>

          </div>
          <!--/Panel Header-->



          <!--Panel content-->
          <div class="card-body">

            <!--Grid row-->
            <div class="row">


                <!--Date select-->
                <script>
                  // Material Select Initialization
                  $(document).ready(function () {
                    $('.mdb-select').material_select();
                  });
                </script>

                <p class="lead my-4">
                  <span class=" info-color-light p-2">Show: </span>
                </p>
                <select class="mdb-select colorful-select dropdown-info">
                  <option value="" disabled>Choose time period</option>
                  <option value="1">Today</option>
                  <option value="2">Day</option>
                  <option value="3">Week</option>
                  <option value="3">Month</option>
                  <option value="3">Quarter</option>
                  <option value="3">Year</option>
                </select>



                <script> $('.datepicker').pickadate();</script>

                <!--Date pickers-->
                <p class="lead my-4">
                  <span class="info-color-light p-2">Compare to: </span>
                </p>

                <select class="mdb-select colorful-select dropdown-info">
                  <option value="" disabled>Choose time period</option>
                  <option value="1">Today</option>
                  <option value="2">Day</option>
                  <option value="3">Week</option>
                  <option value="3">Month</option>
                  <option value="3">Quarter</option>
                  <option value="3">Year</option>
                </select>


              <!--Grid column-->
              <div class="col-md-6 mb-4 text-center">



              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->


          </div>
          <!--Panel content-->



        </div>
        <!--Grid column-->

        <!--Grid column-->

      </div>
      <!--Grid row-->



    </section>


    <section class="mb-5" class="card card-cascade narrower mb-5">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg">

          <!--Panel Header-->
          <div class="view view-cascade py-3 gradient-card-header info-color-dark">
            <h5 class="mb-0"> Quality Control </h5>

          </div>
          <!--/Panel Header-->



          <!--Panel content-->
          <div class="card-body">

            <!--Grid row-->
            <div class="row">


              <!--Date select-->
              <script>
                // Material Select Initialization
                $(document).ready(function () {
                  $('.mdb-select').material_select();
                });
              </script>

              <p class="lead my-4">
                <span class=" info-color-light p-2">Show: </span>
              </p>
              <select class="mdb-select colorful-select dropdown-info">
                <option value="" disabled>Choose time period</option>
                <option value="1">Today</option>
                <option value="2">Day</option>
                <option value="3">Week</option>
                <option value="3">Month</option>
                <option value="3">Quarter</option>
                <option value="3">Year</option>
              </select>



              <script> $('.datepicker').pickadate();</script>

              <!--Date pickers-->
              <p class="lead my-4">
                <span class="info-color-light p-2">Filter By: </span>
              </p>

              <select class="mdb-select colorful-select dropdown-info">
                <option value="" disabled>All Case Levels</option>
                <option value="1">Service</option>
                <option value="2">Account</option>
                <option value="3">Customer </option>

              </select>


              <!--Grid column-->
              <div class="col-md-6 mb-4 text-center">



              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->


          </div>
          <!--Panel content-->



        </div>
        <!--Grid column-->

        <!--Grid column-->

      </div>
      <!--Grid row-->



    </section>


    <section class="mb-5" class="card card-cascade narrower mb-5">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg">

          <!--Panel Header-->
          <div class="view view-cascade py-3 gradient-card-header info-color-dark">
            <h5 class="mb-0"> High Risk Customer Queue </h5>

          </div>
          <!--/Panel Header-->



          <!--Panel content-->
          <div class="card-body">

            <!--Grid row-->
            <div class="row">


              <!--Date select-->
              <script>
                // Material Select Initialization
                $(document).ready(function () {
                  $('.mdb-select').material_select();
                });
              </script>

              <p class="lead my-4">
                <span class=" info-color-light p-2">Show: </span>
              </p>
              <select class="mdb-select colorful-select dropdown-info">
                <option value="" disabled>Choose time period</option>
                <option value="1">Today</option>
                <option value="2">Day</option>
                <option value="3">Week</option>
                <option value="3">Month</option>
                <option value="3">Quarter</option>
                <option value="3">Year</option>
              </select>



              <script> $('.datepicker').pickadate();</script>

              <!--Date pickers-->
              <p class="lead my-4">
                <span class="info-color-light p-2">Filter By: </span>
              </p>

              <select class="mdb-select colorful-select dropdown-info">
                <option value="" disabled>All Case Levels</option>
                <option value="1">Service</option>
                <option value="2">Account</option>
                <option value="3">Customer</option>

              </select>


              <!--Grid column-->
              <div class="col-md-6 mb-4 text-center">



              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->


          </div>
          <!--Panel content-->



        </div>
        <!--Grid column-->

        <!--Grid column-->

      </div>
      <!--Grid row-->



    </section>

    <section class="mb-5" class="card card-cascade narrower mb-5">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg">

          <!--Panel Header-->
          <div class="view view-cascade py-3 gradient-card-header info-color-dark">
            <h5 class="mb-0"> Priority Queue </h5>

          </div>
          <!--/Panel Header-->



          <!--Panel content-->
          <div class="card-body">

            <!--Grid row-->
            <div class="row">


              <!--Date select-->
              <script>
                // Material Select Initialization
                $(document).ready(function () {
                  $('.mdb-select').material_select();
                });
              </script>

              <p class="lead my-4">
                <span class=" info-color-light p-2">Show: </span>
              </p>
              <select class="mdb-select colorful-select dropdown-info">
                <option value="" disabled>Choose time period</option>
                <option value="1">Today</option>
                <option value="2">Day</option>
                <option value="3">Week</option>
                <option value="3">Month</option>
                <option value="3">Quarter</option>
                <option value="3">Year</option>
              </select>



              <script> $('.datepicker').pickadate();</script>

              <!--Date pickers-->
              <p class="lead my-4">
                <span class="info-color-light p-2">Filter By: </span>
              </p>

              <select class="mdb-select colorful-select dropdown-info">
                <option value="" disabled>All Case Levels</option>
                <option value="1">Service</option>
                <option value="2">Account</option>
                <option value="3">Customer</option>
              </select>


              <!--Grid column-->
              <div class="col-md-6 mb-4 text-center">



              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!-- Grid ROw 2 -->

            <div class="row">

              <div class = "col-md">
              testing
              </div>
              <div class = "col-md">
                testing 2
              </div>


          </div>


          </div>
          <!--Panel content-->



        </div>
        <!--Grid column-->

        <!--Grid column-->

      </div>
      <!--Grid row-->



    </section>



  </div>
</main>
<!--Main layout-->

