.navbar{
  background-color: black !important;
}
a.navbar-brand{
  width: 80px;
}
#userNavItem{
  display: flex;
  place-self: center flex-end;
}
.is-active{
  color: lightgray !important;
  background-color: #413e3e;
  border-radius: 6px;
}
#avatarImage{
  width: 50%;
  height: 50%;
}
