#modelContainer {
    border-style: dashed;
}

#selectCompareContainer {
    width:30%;
    min-width: 400px;
    float:left;
    border-style: inset;
}

#selectContainer {
    float:left;
    border-style: dotted;
}

#compareContainer {
    float:right;
    border-style: dotted;
}