#modelContainer {
    border-style: dashed;
}

#selectCompareContainer {
    width:30%;
    height: 36px;
    border-style: inset;
}

#selectContainer {
    float:left;
    border-style: dotted;
}

#compareContainer {
    float:right;
    border-style: dotted;
}

#fprGraph, #efficiencyGraph {
    height: 200px;
    width: 30%;
    border-style: solid;
    display:inline-block;
}

#status {
    height: 200px;
    width: 20%;
    position: fixed;
    border-style: dotted;
    display:inline-block;
}

#modelOverview {
    p {
        text-align: center;
    }
}

#fraud {
    width: 45%;
    border-style: outset;
    float: right;
}

#notFraud {
    width: 45%;
    border-style: outset;
}

#viewAllContainer {
    text-align: center;
}