.detailed-page {
  border-style:solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 8px;
}
.detailedMenu {
}
.graph-one{
  margin-top: 32px;
  margin-right: 16px;
  margin-left: 16px;
  background-color: darkmagenta;
}
.graph-two{
  margin-top: 32px;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  background-color: chocolate;
}

.close-button{
  margin:8px;
}
