<div class="container analysttable">

  <mdb-card>
    <mdb-card-title>
      <h3>All Analysts</h3>
    </mdb-card-title>
    <table mdbTable mdbTableScroll class="fico-table w-auto" scrollY="true" striped="true" bordered="true" maxHeight="600" >
      <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{head}}
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let el of data.analystData$; let j = index">
        <th scope="row" [ngStyle]="{'color': data.getAnalystScoreColor(el)}">{{data.getAnalystScore(el)}}</th>
        <td>
          <button [routerLink]="['./detailed']" mdbBtn color="primary" outline="true" size="sm" mdbWavesEffect type="button" class="m-0">{{data.getAnalystUserID(el)}}</button>
        </td>
        <td>{{data.getAnalystCasesPerDay(el)}}</td>
        <td>{{data.getAnalystQueue(el)}}</td>
        <td>{{data.getAnalystCaseLevel(el)}}</td>
        <td>{{data.getAnalystCaseType(el)}}</td>
        <td>{{data.getAnalystCasesCount(el)}}</td>
      </tr>
      </tbody>
    </table>
  </mdb-card>

</div>
