  <div class="detailed-page z-depth-2">
<div class="d-flex">
  <h1 class="flex-grow-1"> Analyst Performance</h1>
  <div class="dropdown detailedMenu" mdbDropdown>


    <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
            mdbWavesEffect>
    </button>


    <div class="dropdown-menu dropdown-primary">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <a mdbBtn [routerLink]="['..']" class="close-button" floating="true">
    <mdb-icon fas icon="times-circle" size="2x"></mdb-icon>
  </a>

</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        Show:
        <select class="browser-default custom-select">
          <option selected value="1">Today</option>
          <option value="2">Yesterday</option>
          <option value="3">Last Week</option>
        </select>

      </div>
      <div class="col-6">
        Compare to:
        <select class="browser-default custom-select">
          <option value="1">Today</option>
          <option selected value="2">Yesterday</option>
          <option value="3">Last Week</option>
        </select>

      </div>

    </div>
  </div>
  <div class="graph-one">
    <ngx-charts-bar-horizontal-stacked *ngIf = "canShow"
                                       [view] = "view"
                                       [results] = "finalData"
                                       [legend] = "showLegend"
                                       [gradient]="gradient"
                                       [xAxis]="showXAxis"
                                       [yAxis]="showYAxis"
                                       [legend]="showLegend"

                                       [xAxisLabel]="xAxisLabel"
                                       [yAxisLabel]="yAxisLabel"
                                       (select)="onSelect($event)">
    </ngx-charts-bar-horizontal-stacked>

    <h2>Graph1</h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div class="graph-two">
    <h2>Graph2</h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</div>
