  <div class="detailed-page z-depth-2">
<div class="d-flex">
  <h1 class="flex-grow-1"> Analyst Performance</h1>
  <!--
  <div class="dropdown detailedMenu" mdbDropdown>


    <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
            mdbWavesEffect>
    </button>


    <div class="dropdown-menu dropdown-primary">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <a mdbBtn [routerLink]="['..']" class="close-button" floating="true">
    <mdb-icon fas icon="times-circle" size="2x"></mdb-icon>
  </a>
-->
</div>
  <div class="container-fluid">
    <div class="row" style="justify-content: left">
      <h4>
      Analyst Name: {{this.analystID}}<br>
      Queue: {{this.data.getAnalystQueue(this.analyst)}}<br>
      Score: {{data.getAnalystScore(this.analyst)}}  <br>
        {{data.getAnalystCasesPerDay(this.analyst)}} avg cases/day</h4>
    </div>

    <div class="row">
    </div>
  </div>
  <div class="graph-one graph-elem">
    <div class="row">
    <h2 style="justify-self: center">Cases</h2>
    </div>
    <app-analyst-graph-cases></app-analyst-graph-cases>
  </div>
</div>
