
#home-today-cases-title{
  color: black;
  justify-self: center;
}
#home-today-cases{
  place-content: center center;
}
#home-overview-card-container{
  justify-content: center;
}

#home-system-performance-row{
  align-items: center;
}

