<div class="container fico-container">

  <div id = "home-overview-card-container" class="row fico-row">
    <div class="text-center col-4">
      <mdb-card>
          <mdb-card-title>
            <h3 routerLink='/analysts'>Analysts</h3>
          </mdb-card-title>
        <mdb-card-body>
          <mdb-card-text class="fico-card-text">Percentage of efficiency and top three "slowest performers"</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="text-center col-4">
      <mdb-card>
          <mdb-card-title>
            <h3 routerLink="/queue">Queue</h3>
          </mdb-card-title>
        <mdb-card-body>
          <mdb-card-text class="fico-card-text">Overall efficiency, then three rows each a type of queue</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="text-center col-4">
      <mdb-card>
          <mdb-card-title>
            <h3 routerLink="/models">Models</h3>
          </mdb-card-title>
        <mdb-card-body>
          <mdb-card-text class="fico-card-text">False Positive rate. Three rows of reports of false positive rate of individual "models"</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div id="home-system-performance-row" class="row fico-row">
    <div class="col-lg-6">
      <h2 class="graph-elem">Tuneable bar-chart, show by day,week,month; compare to date picker</h2>
    </div>
    <div class="col-sm-3">
      <h2 class="status-container">Status reading, "analysts performing [well, poor] etc. suggestions and stuff</h2>
    </div>
  </div>
  <br/>
  <div id="home-aggregate-performance-row" class="row fico-row">
    <div class="col-lg-9" id="performanceRow">
      <h2 class="graph-elem">Point/line chart showing efficiency over time, currently shows day, but could also do week, etc</h2>
      <app-performance-graph></app-performance-graph>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
