<div class="container fico-container">

  <div id = "home-overview-card-container" class="row fico-row">
    <div class="text-center col-4">
      <mdb-card>
          <mdb-card-title>
            <h3 routerLink='/analysts'>Analysts</h3>
          </mdb-card-title>
        <mdb-card-body>
          <mdb-card-text class="fico-card-text">Percentage of efficiency and top three "slowest performers"</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="text-center col-4">
      <mdb-card>
          <mdb-card-title>
            <h3 routerLink="/queue">Queue</h3>
          </mdb-card-title>
        <mdb-card-body>
          <mdb-card-text class="fico-card-text">Overall efficiency, then three rows each a type of queue</mdb-card-text>

        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="text-center col-4">
      <mdb-card>
          <mdb-card-title>
            <h3 routerLink="/models">Models</h3>
          </mdb-card-title>
        <mdb-card-body>
          <mdb-card-text class="fico-card-text">False Positive rate. Three rows of reports of false positive rate of individual "models"</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div id="home-aggregate-performance-row" class="row fico-row">
    <div class="graph-elem" id="performanceRow">
      <div class="row">
        <h1>General Performance</h1>
      </div>
      <div class="row">
        <app-performance-graph></app-performance-graph>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
