<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark black" id="navbar">
  <mdb-navbar-brand>
    <a class="navbar-brand" ><img src="../../assets/img/FICOlogo.png" class="img-fluid" alt="Responsive image" routerLink="home"></a>
  </mdb-navbar-brand>
  <links>
    <ul id="leftLinks" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" [routerLinkActive]="'is-active'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="queue" [routerLinkActive]="'is-active'">Queue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="analysts" [routerLinkActive]="'is-active'">Analysts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="models" [routerLinkActive]="'is-active'">Models</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li id="userNavItem" class="nav-item">
        <a class="nav-link waves-effect waves-light">1
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" role="menu">
          <img id="avatarImage" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" alt="avatar image">
        </a>
        <div *dropdownMenu id="avatarDropdown" class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" routerLink="">Profile</a>
          <a class="dropdown-item" routerLink="">Settings</a>
          <a class="dropdown-item" routerLink="">Logout</a>
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>

