.row{
  justify-content: center;
}
#home-today-cases-title{
  color: black !important;
  justify-self: center;
}
#home-today-cases{
  place-content: center center;
}
#home-overview-card-container{
  justify-content: center;
}

#home-system-performance-row{
  align-items: center;
}

#home-system-performance-row h2{
  color: darkgoldenrod;
}

#home-aggregate-performance-row{
  color: bisque;
}

