<div class="container">
  <div class="row">
    <div class="col">
      Case #12345<br>
      Client:<br>
      Tenant:<br>
      Queue:<br>
      Case Level:<br>
      Case Type:<br>
      Opened on:<br>
      <b>Active for:</b><br>
    </div>
    <div class="col">
      Analyst:<br>
      Case Level Expertise:<br>
      Case Type Expertise:<br>
      <b>Average Productivity:</b><br>
      (View Case History)<br>
    </div>
    <div class="col">
      <div class="status">
        Active
      </div>
    </div>
  </div>
  <div class="row">
    <progress value="80" max="100"></progress>
  </div>
  <div class="row">
    Case #12345 History<br>
    <div class="container">
      <div class="row">
        <div class="col">
          Date
        </div>
        <div class="col">
          Time
        </div>
        <div class="col">
          Disposition
        </div>
        <div class="col">
          Action
        </div>
        <div class="col">
          Notes
        </div>
      </div>
      <div class="row">
          <div class="col">
            12/04/18
          </div>
          <div class="col">
            8:27 pm
          </div>
          <div class="col">
            New
          </div>
          <div class="col">
            Opened
          </div>
          <div class="col">g
            None
          </div>
        </div>
    </div>
  </div>
</div>