
<div class="row" id="analystCaseLevelRow">
  <ngx-charts-bar-horizontal-stacked *ngIf = "showCaseLevel"
                                     [view] = "view"
                                     [results] = "finalCases"
                                     [legend] = "showLegend"
                                     [gradient]="gradient"
                                     [xAxis]="showXAxis"
                                     [yAxis]="showYAxis"
                                     [legend]="showLegend"
                                     [xAxisLabel]="xAxisLabel"
                                     [yAxisLabel]="yAxisLabel"
                                     (select)="onSelect($event)">
  </ngx-charts-bar-horizontal-stacked>
</div>
