<div id="modelContainer" class="container-fluid">
  <h5><b>MODEL PERFORMANCE</b></h5>
    <div class="row fico-row">
      <div class="card container" id="selectCompareContainer">
        <div id="selectContainer">
          Show:
          <select>
            <option value="today">Today</option>
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="quarter">Quarter</option>
            <option value="year">Year</option>
          </select>
        </div>
        <div id="compareContainer">
            Compare:
            <select>
              <option value="yesterday">Yesterday</option>
              <option value="day">Day</option>
              <option value="week">Week</option>
              <option value="month">Month</option>
              <option value="quarter">Quarter</option>
              <option value="year">Year</option>
            </select>
        </div>
      </div>
    </div>
    <div class="row fico-row">
      <div class="col-6">
        <mdb-card id = fprGraph>
            <mdb-card-body>
              False Positive Rate Graph
            </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-6">
        <mdb-card id="status">
          <mdb-card-body>
            Model Status: <br>
            Today's efficiency: 77% Daily change: +9%
            <br>
            Models are stable
            <br>
            Model 241 needs help
            <br>
            Recommended: Assign top analysts into queues/cases using Model 241
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  <div class="card row graph chart" id="efficiencyGraph">
    Efficiency Graph
  </div>
  <br>
  TODAY
  <div class="card modelCard container-fluid">
    <div>
      <h5><b>Model 109 (34% of cases)</b></h5>
    </div>
    <div class="row fico-row fraudInfo">
      <div class="col-6" id="notFraud">
        <mdb-card><mdb-card-body>
          <h5><b>Confirmed Not Fraud (XX cases)</b></h5>
          Show:
          <select class="selectBar">
            <option value="today">Today</option>
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="quarter">Quarter</option>
            <option value="year">Year</option>
          </select>
          <br>
          Filter by:
          <select class="selectBar">
            <option value="all">All</option>
            <option value="service">Service</option>
            <option value="Account">Account</option>
            <option value="Customer">Customer</option>
          </select>
          <br>
          <div class="container fico-container">
            <table mdbTable mdbTableScroll class="fico-table" scrollY="true" maxHeight="600" >
              <thead>
              <tr>
                <th *ngFor="let head of confirmedNotFraudHeadElements; let i = index" scope="col" [mdbTableSort]="elementsConfirmedNotFraud" [sortBy]="confirmedNotFraudHeadElements[i]">{{head}}
                  <mdb-icon fas icon="sort"></mdb-icon>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let el of elementsConfirmedNotFraud; let i = index">
                <td>
                  <button [routerLink]="['./detailed']" mdbBtn color="primary" outline="true" size="sm" mdbWavesEffect type="button" class="m-0">{{el.caseid}}</button>
                </td>
                <td>{{el.bank}}</td>
                <td>{{el.queue}}</td>
                <td>{{el.elapsedTime}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </mdb-card-body></mdb-card>

      </div>
      <div class="col-6" id="fraud">
        <mdb-card><mdb-card-body>
          <h5><b>Confirmed Fraud (XX cases)</b></h5>
          Show:
          <select class="selectBar">
            <option value="today">Today</option>
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="quarter">Quarter</option>
            <option value="year">Year</option>
          </select>
          <br>
          Filter by:
          <select class="selectBar">
            <option value="all">All</option>
            <option value="service">Service</option>
            <option value="Account">Account</option>
            <option value="Customer">Customer</option>
          </select>
          <br>
          <div class="container fico-container">
            <table mdbTable mdbTableScroll class="fico-table" scrollY="true" maxHeight="600" >
              <thead>
                <tr>
                  <th *ngFor="let head of confirmedHeadElements; let i = index" scope="col" [mdbTableSort]="elementsConfirmed" [sortBy]="confirmedHeadElements[i]">{{head}}
                    <mdb-icon fas icon="sort"></mdb-icon>
                  </th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let el of elementsConfirmed; let i = index">
                <td>
                  <button [routerLink]="['./detailed']" mdbBtn color="primary" outline="true" size="sm" mdbWavesEffect type="button" class="m-0">{{el.caseid}}</button>
                </td>
                <td>{{el.bank}}</td>
                <td>{{el.queue}}</td>
                <td>{{el.elapsedTime}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </mdb-card-body></mdb-card>
      </div>
    </div>
    <div id="viewAllContainer" class="container-fluid">
      <button type="button" id="viewAll" class="btn btn-primary">View all Model 109 cases</button>
    </div>
  </div>
</div>
