<p> THis works</p>
<div id="home-today-cases" class="row fico-row">
  <div class="column-lg-12">
    <div class="row">
      <h1 id="home-today-cases-title">Today's Cases</h1>
    </div>
    <div class="row" id="casesRow">
      <ngx-charts-bar-horizontal-stacked *ngIf = "canShow"
        [view] = "view" 
        [results] = "finalData"
        [legend] = "showLegend"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
       </ngx-charts-bar-horizontal-stacked>
    </div>
    <div class="row" id="caseLevelRow">
      <ngx-charts-bar-horizontal-stacked *ngIf = "showCaseLevel"
        [view] = "view" 
        [results] = "finalCases"
        [legend] = "showLegend"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
       </ngx-charts-bar-horizontal-stacked>
    </div>
  </div>
</div>
