3pi#modelContainer {
    display: grid;
    grid-row-gap:0px;
}

#selectCompareContainer {
    width:30%;
    min-width: 380px;
    height: 36px;
    border-style: inset;
    display: inline-block;
}

#selectContainer {
    float:left;
    width: 150px;
    border-style: dotted;
}

#compareContainer {
    float:right;
    width: 200px;
    border-style: dotted;
}

#fprGraph, #efficiencyGraph {
}

#status {
    border-style: dotted;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#fraud {
    width: 45%;
    min-width: 400px;
    border-style: outset;
}

#notFraud {
    width: 45%;
    min-width: 400px;
    border-style: outset;
}

#viewAllContainer {
    text-align: center;
}

h5 {
    text-align: center;
}

.selectBar {
    width: 25%;
}

.container {
    display: inline-grid;
    grid-row-gap: 7px;
}

#fraud, #notFraud {
    background-color: lightgray;
}

.title {
    border: 1px solid black;
}

.col {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.modelCard {
    display: inline-grid;
}

p {
    text-align: center;
}

.fraudInfo {
    grid-column-gap: 5%;
}

.graph {
    margin: auto;
}
