<mdb-card>
  <mdb-card-title>Slowest Analysts</mdb-card-title>
  <mdb-card-body>
    Analyst Name<br>
    <div class="analyst-sm-graph">
      Overview Data<br><br><br><br><br>
    </div>
    <a [routerLink]="['./detailed']">Full View</a>
  </mdb-card-body>
  <mdb-card-body>
    Analyst Name<br>
    <div class="analyst-sm-graph">
      Overview Data<br><br><br><br><br>
    </div>
    <a [routerLink]="['./detailed']">Full View</a>
  </mdb-card-body>
  <mdb-card-body>
      Analyst Name<br>
    <div class="analyst-sm-graph">
      Overview Data<br><br><br><br><br>
    </div>
    <a [routerLink]="['./detailed']">Full View</a>
  </mdb-card-body>
</mdb-card>
